.flex-container{
    display: flex;
    padding: 0.5em 0 0.5em 0;
}

.flex-item{
    flex-wrap: wrap;
    margin: 0 .5em 0 .5em;
}

button {
    background-color: darkgoldenrod;
    border: none;
    border-radius: 5px;
}

textarea {
    width: 500px;
    height: 300px;
}